extends ../layouts/landing

block content
  br
  br
  br
  br
  .panel.panel-info(style="margin-top:120px;")
    .panel-heading
      h3.panel-title Please Sign In
    |   
    .panel-body
      .row
        .col-md-5
          .form-group
            a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
              i.fa.fa-facebook
              | Sign in with Facebook
            a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter')
              i.fa.fa-twitter
              | Sign in with Twitter
            hr
            a.btn.btn-block.btn-google.btn-social(href='/auth/google')
              i.fa.fa-google-plus
              | Sign in with Google
            a.btn.btn-block.btn-linkedin.btn-social(href='/auth/linkedin')
              i.fa.fa-linkedin
              | Sign in with LinkedIn
        |     
        .col-md-7(style="border-left:1px solid #ccc;height:auto;")
          form.form-horizontal(method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            fieldset
              br
              .input-group
                label.input-group-addon(for="email")
                  i.fa.fa-user
                | 							
                input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
              hr
              |   
              .input-group
                label.input-group-addon(for="userpassword")
                  i.fa.fa-user-secret
                | 							
                input.form-control(type='password', name='password', id='password', placeholder='Password', required)
              |
              br
              .spacing
                input#checkboxes-0(type="checkbox", name="checkboxes", value="1")
                small &nbsp; Remember me
                a.pull-right(href="/forgot")
                  small Forgot Password?
                br
              |   
              button#singlebutton.btn.btn-primary.btn-md.pull-right.fa-sign-in(name="singlebutton") &nbsp; Sign In
