extends ./layouts/landing

block content
  br
  br
  .container
      .jumbotron
        .text-center
          i.fa.fa-5x.fa-frown-o(style='color:#d9534f;')
        h1.text-center
          | #{title}
        p.text-center #{Error}
        p.text-center Try pressing the back button or clicking on this button.
        p.text-center
          a.btn.btn-primary(href='javascript: window.history.back();')
            i.fa.fa-home
            |  Take Me Back.